<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Servico de denúncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-icon name="call-outline"></ion-icon>
    <ion-icon name="logo-whatsapp"></ion-icon>
    <ion-label>6999076523</ion-label>
  </ion-list>
<p></p>
  <ion-list>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label>Servicodenuncia@gmail.com </ion-label>
  </ion-list>
  <p></p>
  <ion-list>
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Endereço</ion-label>
  </ion-list>
  
 

    
      <ion-tabs>
        <ion-tab-bar slot="bottom">
         <ion-tab-button tab="home">
           <ion-icon name="home"    [routerLink]="['/casa']">    
           </ion-icon>
         </ion-tab-button>
        
         <ion-tab-button tab="add-circle">
           <ion-icon name="add-circle"   [routerLink]="['/publicacoes']">
           </ion-icon>
         </ion-tab-button>
        
         <ion-tab-button tab="search-circle">
           <ion-icon name="search-circle"   [routerLink]="['/busca']"></ion-icon>
         </ion-tab-button>
       </ion-tab-bar>
      </ion-tabs>

</ion-content>
