<ion-header>
  <ion-toolbar>
    <ion-title>Servico de denúncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-icon name="call-outline"></ion-icon>
    <ion-label>6999076523</ion-label>
  </ion-list>
<p></p>
  <ion-list>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label>Servicodenuncia@gmail.com </ion-label>
  </ion-list>
  <p></p>
  <ion-list>
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Endereço</ion-label>
  </ion-list>
</ion-content>
