<ion-header [translucent]="true">
  <ion-toolbar color="warning" >
    <ion-title>
      Happy Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-label>Maria Das Graças</ion-label>
</ion-list>
  <div id="container">
    <strong>Conscious Adoption!
    </strong>
    <p>Only adopt you are going to give love and all the necessary care.

  </div>
</ion-content>

<ion-content><ion-fab vertical="center" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-content>
    <ion-fab vertical="right" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
<ion-list></ion-list>
    <ion-content>
      <ion-fab transversal="left side" horizontal="left" slot="fixed">
      <ion-fab-button>
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
</ion-fab>
</ion-content>