<ion-header>
  <ion-toolbar>
    <ion-title>publicacoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input></ion-input>
  <ion-input value="Pet"></ion-input>
  <ion-input placeholder="Digitar a espécie animal "></ion-input>
  <ion-input value="Nome"></ion-input>
  <ion-input placeholder="(Caso houver)"></ion-input>
  <ion-input value="Idade"></ion-input>
  <ion-input placeholder="Digite a idade do animal"></ion-input>
  <ion-input value="Localização"></ion-input>
  <ion-input placeholder="Cidade-UF"></ion-input>
  <ion-button size="large" type="submit"  expand="block">Publicar</ion-button>
</ion-content>
