<ion-header>
  <ion-toolbar color="warning" >
    <ion-buttons slot="start">
      <!-- <ion-icon name="menu"></ion-icon> -->
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Happy Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-label>Josefina das Graças</ion-label>
</ion-list>

  <ion-card>
    <ion-img src="../assets/img.png"></ion-img>
  </ion-card>


  <div id="container">
    <strong>
      cão femea 2anos

    </strong>  
      <br> 

      ADOAÇÃO CONSCIENTE!


    <p>Só adote você vai dar amor e todos os cuidados necessários.
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
     <ion-tab-button tab="home">
       <ion-icon name="home"    [routerLink]="['/casa']">    
       </ion-icon>
     </ion-tab-button>
    
     <ion-tab-button tab="add-circle">
       <ion-icon name="add-circle"   [routerLink]="['/publicacoes']">
       </ion-icon>
     </ion-tab-button>
    
     <ion-tab-button tab="search-circle">
       <ion-icon name="search-circle"   [routerLink]="['/busca']"></ion-icon>
     </ion-tab-button>
   </ion-tab-bar>
  </ion-tabs>

</ion-content>
